@import 'variables';
@import 'animations';
@import 'notification';

html {
    min-height: 100%;
}

body {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #f4ebff;
}

a:hover {
    text-decoration: none;
}

a:visited {
    color: #0000EE;
}

select {
    height: auto !important;
}

.main {
    max-width: 1280px;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, .2);
}

html, button, input, select, textarea, .pure-g [class *= "pure-u"] {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

.footer {
    float: right;
    font-size: .8em;
    margin-top: 2em;
}

.flex-contain {
    display: flex;

    .item {
        flex: 0 1 auto;
    }
}

.inline-flex {
    display: inline-flex;
    height: 100%;
    align-items: center;
    justify-content: center;

    .item {
        label {
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}

.no-indent {
    padding: 0;
    list-style-type: none;

    li {
        display: flex;
        align-items: center;

        .material-icons {
            margin-right: .25em;
        }
    }
}

.divider {
    border-bottom: 1px solid #555555;
    margin-bottom: 10px;
    padding-bottom: 10px;
    width: 80%;
}

.register-banner {
    text-align: center;
    text-transform: uppercase;
}

.camp-box {
    box-shadow: 0 0 3px 5px rgba(0, 0, 0, .2);
    padding: .5em .5em .5em 0;
    margin: .5em 0;
    cursor: pointer;

    .header {
        text-transform: uppercase;
        font-weight: bold;
        margin-bottom: .5em;
    }

    &.selected {
        @include success;
    }

    &:hover {
        background-color: rgba(128, 128, 128, 0.3);
    }

    &:active {
        background-color: rgba(128, 128, 128, 0.5);
    }
}