@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="SCBWI Florida" />
  <title>SCBWI Florida</title>
  <link rel="stylesheet"
        href="https://unpkg.com/purecss@0.6.2/build/pure-min.css"
        integrity="sha384-UQiGfs9ICog+LwheBSRCt1o5cbyKIHbwjWscjemyBMT9YCUMZffs6UqUTd0hObXD"
        crossorigin="anonymous">
  <link rel="stylesheet" href="https://unpkg.com/purecss@0.6.2/build/grids-responsive-min.css">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
  <div id="react-root"></div>
  <!-- Vendor -->
  <script src="/js/vendor.js" asp-append-version="true"></script>
  <!-- Main -->
  <script src="/js/bundle.js" asp-append-version="true"></script>
</body>
</html>